In [17]:
import numpy as np
import pandas as pd 
import datetime as dt

In [18]:
df = pd.read_csv(r"C:\Users\admin\Downloads\YouTube_Data_Final_Project_01.csv")

In [19]:
df

,Unnamed: 0,Category,Video ID,Title,Channel,Channel ID,Views,Likes,Comments,Subscriber Count,Published_At,Duration
0,0,Arts & Culture,6VlO0yJuj_8,Art & Culture Top 50 MCQs June 2023 Updated | ...,SSC Adda247,UCAyYBPzFioHUxvVZEn4rMJA,333581,19539,686,8000000,2023-06-13 14:20:14,0 days 13:46:00
1,1,Arts & Culture,hQ1aYndYgJ4,"ART & CULTURE DEPARTMENT ZAIPAWL VOL-1, disc 3",A&C Mizoram,UCydP2aV8KErUJI2QoO5Bjcw,603993,5100,433,27900,2020-12-01 07:29:44,2 days 08:46:00
2,2,Arts & Culture,hyRpCa9Qv48,Understanding the Value of Arts and Culture | ...,ahrcpress,UC4oFqK01f4STG5UJ72JAbdw,46954,352,6,2880,2016-04-20 09:35:15,0 days 02:58:00
3,3,Arts & Culture,nLU2f3pfCs8,Delhi Police 2023 Exam | à¤•à¤²à¤¾ à¤à¤µà¤‚ à...,Rojgar with Ankit,UC5H9MzrMkJ5iuN11vV2PLhA,1659779,86921,1718,11800000,2023-11-07 16:28:07,6 days 11:40:00
4,4,Arts & Culture,r3bLtn8DLYo,EDU in 90: Google Arts & Culture,Google for Education,UCt84aUC9OG6di8kSdKzEHTQ,14615,136,3,466000,2018-08-22 22:30:01,0 days 02:45:00
...,...,...,...,...,...,...,...,...,...,...,...,...
9223,10184,Travel & Adventure,UCkOEEcyoaUu-6nM-fmQ9jMg,Always choosing this â˜€ï¸ðŸï¸ #Travel #Ad...,Steven Daliva,UCkOEEcyoaUu-6nM-fmQ9jMg,2075,78,2,74,2024-03-18 10:35:49,0 days 00:17:00
9224,10185,Travel & Adventure,UC0VS45BTHzmoIqR9Ovxhlwg,Adventures fill your soul ðŸª‚ðŸ’ªâ¤ï¸ #trav...,Nature savvy,UC0VS45BTHzmoIqR9Ovxhlwg,4,2,0,4,2024-03-16 16:57:12,0 days 00:12:00
9225,10186,Travel & Adventure,UCBz6JnEN2jKGWLK1b86jUKg,ROG || HYDERABAD || 650 TWINS || VIZAG_COLONY ...,The_Interceptor_guy,UCBz6JnEN2jKGWLK1b86jUKg,415,17,2,27,2024-03-18 15:12:40,0 days 00:20:00
9226,10187,Travel & Adventure,UCOTZbz1Hw7ohL5Wkk05x_oQ,#travel #adventure #nature #zipline #mountains...,Haseeb Malik ðŸ¤—,UCOTZbz1Hw7ohL5Wkk05x_oQ,6541,135,0,1650,2024-03-17 10:58:52,0 days 00:17:00
9227,10188,Travel & Adventure,UCdsJ15JOpVYne4qYxQe7UfQ,ACCIDENT on ganga river mirzapur // #trending ...,Atharva Live7,UCdsJ15JOpVYne4qYxQe7UfQ,473,14,0,411,2024-03-16 05:13:35,0 days 00:07:00

In [20]:
df.shape

(9228, 12)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9228 entries, 0 to 9227
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        9228 non-null   int64
 1   Category          9228 non-null   object
 2   Video ID          9228 non-null   object
 3   Title             9228 non-null   object
 4   Channel           9228 non-null   object
 5   Channel ID        9228 non-null   object
 6   Views             9228 non-null   int64
 7   Likes             9228 non-null   int64
 8   Comments          9228 non-null   int64
 9   Subscriber Count  9228 non-null   int64
 10  Published_At      9228 non-null   object
 11  Duration          9228 non-null   object
dtypes: int64(5), object(7)
memory usage: 865.3+ KB

In [22]:
df.dtypes

Unnamed: 0           int64
Category            object
Video ID            object
Title               object
Channel             object
Channel ID          object
Views                int64
Likes                int64
Comments             int64
Subscriber Count     int64
Published_At        object
Duration            object
dtype: object

In [23]:
df.isnull().sum()

Unnamed: 0          0
Category            0
Video ID            0
Title               0
Channel             0
Channel ID          0
Views               0
Likes               0
Comments            0
Subscriber Count    0
Published_At        0
Duration            0
dtype: int64

In [24]:
df['Published_Date'] = pd.to_datetime(df['Published_At']).dt.date

In [25]:
df

,Unnamed: 0,Category,Video ID,Title,Channel,Channel ID,Views,Likes,Comments,Subscriber Count,Published_At,Duration,Published_Date
0,0,Arts & Culture,6VlO0yJuj_8,Art & Culture Top 50 MCQs June 2023 Updated | ...,SSC Adda247,UCAyYBPzFioHUxvVZEn4rMJA,333581,19539,686,8000000,2023-06-13 14:20:14,0 days 13:46:00,2023-06-13
1,1,Arts & Culture,hQ1aYndYgJ4,"ART & CULTURE DEPARTMENT ZAIPAWL VOL-1, disc 3",A&C Mizoram,UCydP2aV8KErUJI2QoO5Bjcw,603993,5100,433,27900,2020-12-01 07:29:44,2 days 08:46:00,2020-12-01
2,2,Arts & Culture,hyRpCa9Qv48,Understanding the Value of Arts and Culture | ...,ahrcpress,UC4oFqK01f4STG5UJ72JAbdw,46954,352,6,2880,2016-04-20 09:35:15,0 days 02:58:00,2016-04-20
3,3,Arts & Culture,nLU2f3pfCs8,Delhi Police 2023 Exam | à¤•à¤²à¤¾ à¤à¤µà¤‚ à...,Rojgar with Ankit,UC5H9MzrMkJ5iuN11vV2PLhA,1659779,86921,1718,11800000,2023-11-07 16:28:07,6 days 11:40:00,2023-11-07
4,4,Arts & Culture,r3bLtn8DLYo,EDU in 90: Google Arts & Culture,Google for Education,UCt84aUC9OG6di8kSdKzEHTQ,14615,136,3,466000,2018-08-22 22:30:01,0 days 02:45:00,2018-08-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9223,10184,Travel & Adventure,UCkOEEcyoaUu-6nM-fmQ9jMg,Always choosing this â˜€ï¸ðŸï¸ #Travel #Ad...,Steven Daliva,UCkOEEcyoaUu-6nM-fmQ9jMg,2075,78,2,74,2024-03-18 10:35:49,0 days 00:17:00,2024-03-18
9224,10185,Travel & Adventure,UC0VS45BTHzmoIqR9Ovxhlwg,Adventures fill your soul ðŸª‚ðŸ’ªâ¤ï¸ #trav...,Nature savvy,UC0VS45BTHzmoIqR9Ovxhlwg,4,2,0,4,2024-03-16 16:57:12,0 days 00:12:00,2024-03-16
9225,10186,Travel & Adventure,UCBz6JnEN2jKGWLK1b86jUKg,ROG || HYDERABAD || 650 TWINS || VIZAG_COLONY ...,The_Interceptor_guy,UCBz6JnEN2jKGWLK1b86jUKg,415,17,2,27,2024-03-18 15:12:40,0 days 00:20:00,2024-03-18
9226,10187,Travel & Adventure,UCOTZbz1Hw7ohL5Wkk05x_oQ,#travel #adventure #nature #zipline #mountains...,Haseeb Malik ðŸ¤—,UCOTZbz1Hw7ohL5Wkk05x_oQ,6541,135,0,1650,2024-03-17 10:58:52,0 days 00:17:00,2024-03-17
9227,10188,Travel & Adventure,UCdsJ15JOpVYne4qYxQe7UfQ,ACCIDENT on ganga river mirzapur // #trending ...,Atharva Live7,UCdsJ15JOpVYne4qYxQe7UfQ,473,14,0,411,2024-03-16 05:13:35,0 days 00:07:00,2024-03-16

In [26]:
df['Published_time'] = pd.to_datetime(df['Published_At']).dt.time

In [27]:
df

,Unnamed: 0,Category,Video ID,Title,Channel,Channel ID,Views,Likes,Comments,Subscriber Count,Published_At,Duration,Published_Date,Published_time
0,0,Arts & Culture,6VlO0yJuj_8,Art & Culture Top 50 MCQs June 2023 Updated | ...,SSC Adda247,UCAyYBPzFioHUxvVZEn4rMJA,333581,19539,686,8000000,2023-06-13 14:20:14,0 days 13:46:00,2023-06-13,14:20:14
1,1,Arts & Culture,hQ1aYndYgJ4,"ART & CULTURE DEPARTMENT ZAIPAWL VOL-1, disc 3",A&C Mizoram,UCydP2aV8KErUJI2QoO5Bjcw,603993,5100,433,27900,2020-12-01 07:29:44,2 days 08:46:00,2020-12-01,07:29:44
2,2,Arts & Culture,hyRpCa9Qv48,Understanding the Value of Arts and Culture | ...,ahrcpress,UC4oFqK01f4STG5UJ72JAbdw,46954,352,6,2880,2016-04-20 09:35:15,0 days 02:58:00,2016-04-20,09:35:15
3,3,Arts & Culture,nLU2f3pfCs8,Delhi Police 2023 Exam | à¤•à¤²à¤¾ à¤à¤µà¤‚ à...,Rojgar with Ankit,UC5H9MzrMkJ5iuN11vV2PLhA,1659779,86921,1718,11800000,2023-11-07 16:28:07,6 days 11:40:00,2023-11-07,16:28:07
4,4,Arts & Culture,r3bLtn8DLYo,EDU in 90: Google Arts & Culture,Google for Education,UCt84aUC9OG6di8kSdKzEHTQ,14615,136,3,466000,2018-08-22 22:30:01,0 days 02:45:00,2018-08-22,22:30:01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9223,10184,Travel & Adventure,UCkOEEcyoaUu-6nM-fmQ9jMg,Always choosing this â˜€ï¸ðŸï¸ #Travel #Ad...,Steven Daliva,UCkOEEcyoaUu-6nM-fmQ9jMg,2075,78,2,74,2024-03-18 10:35:49,0 days 00:17:00,2024-03-18,10:35:49
9224,10185,Travel & Adventure,UC0VS45BTHzmoIqR9Ovxhlwg,Adventures fill your soul ðŸª‚ðŸ’ªâ¤ï¸ #trav...,Nature savvy,UC0VS45BTHzmoIqR9Ovxhlwg,4,2,0,4,2024-03-16 16:57:12,0 days 00:12:00,2024-03-16,16:57:12
9225,10186,Travel & Adventure,UCBz6JnEN2jKGWLK1b86jUKg,ROG || HYDERABAD || 650 TWINS || VIZAG_COLONY ...,The_Interceptor_guy,UCBz6JnEN2jKGWLK1b86jUKg,415,17,2,27,2024-03-18 15:12:40,0 days 00:20:00,2024-03-18,15:12:40
9226,10187,Travel & Adventure,UCOTZbz1Hw7ohL5Wkk05x_oQ,#travel #adventure #nature #zipline #mountains...,Haseeb Malik ðŸ¤—,UCOTZbz1Hw7ohL5Wkk05x_oQ,6541,135,0,1650,2024-03-17 10:58:52,0 days 00:17:00,2024-03-17,10:58:52
9227,10188,Travel & Adventure,UCdsJ15JOpVYne4qYxQe7UfQ,ACCIDENT on ganga river mirzapur // #trending ...,Atharva Live7,UCdsJ15JOpVYne4qYxQe7UfQ,473,14,0,411,2024-03-16 05:13:35,0 days 00:07:00,2024-03-16,05:13:35

In [34]:
df.drop('Published_At',axis=1,inplace=True)

In [41]:
# columns_to_drop = ["Description","Tags/Keywords","Thumbnail URL"]
# df.drop(columns=columns_to_drop,inplace=True)

In [36]:
df.head(5)

,Unnamed: 0,Category,Video ID,Title,Channel,Channel ID,Views,Likes,Comments,Subscriber Count,Duration,Published_Date,Published_time
0,0,Arts & Culture,6VlO0yJuj_8,Art & Culture Top 50 MCQs June 2023 Updated | ...,SSC Adda247,UCAyYBPzFioHUxvVZEn4rMJA,333581,19539,686,8000000,0 days 13:46:00,2023-06-13,14:20:14
1,1,Arts & Culture,hQ1aYndYgJ4,"ART & CULTURE DEPARTMENT ZAIPAWL VOL-1, disc 3",A&C Mizoram,UCydP2aV8KErUJI2QoO5Bjcw,603993,5100,433,27900,2 days 08:46:00,2020-12-01,07:29:44
2,2,Arts & Culture,hyRpCa9Qv48,Understanding the Value of Arts and Culture | ...,ahrcpress,UC4oFqK01f4STG5UJ72JAbdw,46954,352,6,2880,0 days 02:58:00,2016-04-20,09:35:15
3,3,Arts & Culture,nLU2f3pfCs8,Delhi Police 2023 Exam | à¤•à¤²à¤¾ à¤à¤µà¤‚ à...,Rojgar with Ankit,UC5H9MzrMkJ5iuN11vV2PLhA,1659779,86921,1718,11800000,6 days 11:40:00,2023-11-07,16:28:07
4,4,Arts & Culture,r3bLtn8DLYo,EDU in 90: Google Arts & Culture,Google for Education,UCt84aUC9OG6di8kSdKzEHTQ,14615,136,3,466000,0 days 02:45:00,2018-08-22,22:30:01

In [16]:
df["Published_At"] = df["Published_Date"].str.cat(df["Published_Time"], sep=" ")

In [17]:
df.head(5)

,Category,Video ID,Title,Channel,Channel ID,Views,Likes,Comments,Duration (Minutes:Seconds),Subscriber Count,Published_Date,Published_Time,Published_At
0,Arts & Culture,6VlO0yJuj_8,Art & Culture Top 50 MCQs June 2023 Updated | ...,SSC Adda247,UCAyYBPzFioHUxvVZEn4rMJA,333581,19539,686,13:46,8000000,2023-06-13,14:20:14,2023-06-13 14:20:14
1,Arts & Culture,hQ1aYndYgJ4,"ART & CULTURE DEPARTMENT ZAIPAWL VOL-1, disc 3",A&C Mizoram,UCydP2aV8KErUJI2QoO5Bjcw,603993,5100,433,56:46:00,27900,2020-12-01,07:29:44,2020-12-01 07:29:44
2,Arts & Culture,hyRpCa9Qv48,Understanding the Value of Arts and Culture | ...,ahrcpress,UC4oFqK01f4STG5UJ72JAbdw,46954,352,6,02:58,2880,2016-04-20,09:35:15,2016-04-20 09:35:15
3,Arts & Culture,nLU2f3pfCs8,Delhi Police 2023 Exam | à¤•à¤²à¤¾ à¤à¤µà¤‚ à...,Rojgar with Ankit,UC5H9MzrMkJ5iuN11vV2PLhA,1659779,86921,1718,155:40:00,11800000,2023-11-07,16:28:07,2023-11-07 16:28:07
4,Arts & Culture,r3bLtn8DLYo,EDU in 90: Google Arts & Culture,Google for Education,UCt84aUC9OG6di8kSdKzEHTQ,14615,136,3,02:45,466000,2018-08-22,22:30:01,2018-08-22 22:30:01

In [18]:
df.dtypes

Category                      object
Video ID                      object
Title                         object
Channel                       object
Channel ID                    object
Views                          int64
Likes                          int64
Comments                       int64
Duration (Minutes:Seconds)    object
Subscriber Count               int64
Published_Date                object
Published_Time                object
Published_At                  object
dtype: object

In [19]:
df["Published_At"] = pd.to_datetime(df["Published_At"])

In [20]:
df.dtypes

Category                              object
Video ID                              object
Title                                 object
Channel                               object
Channel ID                            object
Views                                  int64
Likes                                  int64
Comments                               int64
Duration (Minutes:Seconds)            object
Subscriber Count                       int64
Published_Date                        object
Published_Time                        object
Published_At                  datetime64[ns]
dtype: object

In [21]:
df.isnull().sum()

Category                       0
Video ID                       0
Title                          0
Channel                        0
Channel ID                     0
Views                          0
Likes                          0
Comments                       0
Duration (Minutes:Seconds)     0
Subscriber Count               0
Published_Date                 0
Published_Time                50
Published_At                  50
dtype: int64

In [22]:
drop_Date_Time = ["Published_Time","Published_Date"]
df.drop(columns=drop_Date_Time,inplace=True)

In [23]:
df.isnull().sum()

Category                       0
Video ID                       0
Title                          0
Channel                        0
Channel ID                     0
Views                          0
Likes                          0
Comments                       0
Duration (Minutes:Seconds)     0
Subscriber Count               0
Published_At                  50
dtype: int64

In [24]:
df = df.dropna()
df

,Category,Video ID,Title,Channel,Channel ID,Views,Likes,Comments,Duration (Minutes:Seconds),Subscriber Count,Published_At
0,Arts & Culture,6VlO0yJuj_8,Art & Culture Top 50 MCQs June 2023 Updated | ...,SSC Adda247,UCAyYBPzFioHUxvVZEn4rMJA,333581,19539,686,13:46,8000000,2023-06-13 14:20:14
1,Arts & Culture,hQ1aYndYgJ4,"ART & CULTURE DEPARTMENT ZAIPAWL VOL-1, disc 3",A&C Mizoram,UCydP2aV8KErUJI2QoO5Bjcw,603993,5100,433,56:46:00,27900,2020-12-01 07:29:44
2,Arts & Culture,hyRpCa9Qv48,Understanding the Value of Arts and Culture | ...,ahrcpress,UC4oFqK01f4STG5UJ72JAbdw,46954,352,6,02:58,2880,2016-04-20 09:35:15
3,Arts & Culture,nLU2f3pfCs8,Delhi Police 2023 Exam | à¤•à¤²à¤¾ à¤à¤µà¤‚ à...,Rojgar with Ankit,UC5H9MzrMkJ5iuN11vV2PLhA,1659779,86921,1718,155:40:00,11800000,2023-11-07 16:28:07
4,Arts & Culture,r3bLtn8DLYo,EDU in 90: Google Arts & Culture,Google for Education,UCt84aUC9OG6di8kSdKzEHTQ,14615,136,3,02:45,466000,2018-08-22 22:30:01
...,...,...,...,...,...,...,...,...,...,...,...
10184,Travel & Adventure,UCkOEEcyoaUu-6nM-fmQ9jMg,Always choosing this â˜€ï¸ðŸï¸ #Travel #Ad...,Steven Daliva,UCkOEEcyoaUu-6nM-fmQ9jMg,2075,78,2,00:17,74,2024-03-18 10:35:49
10185,Travel & Adventure,UC0VS45BTHzmoIqR9Ovxhlwg,Adventures fill your soul ðŸª‚ðŸ’ªâ¤ï¸ #trav...,Nature savvy,UC0VS45BTHzmoIqR9Ovxhlwg,4,2,0,00:12,4,2024-03-16 16:57:12
10186,Travel & Adventure,UCBz6JnEN2jKGWLK1b86jUKg,ROG || HYDERABAD || 650 TWINS || VIZAG_COLONY ...,The_Interceptor_guy,UCBz6JnEN2jKGWLK1b86jUKg,415,17,2,00:20,27,2024-03-18 15:12:40
10187,Travel & Adventure,UCOTZbz1Hw7ohL5Wkk05x_oQ,#travel #adventure #nature #zipline #mountains...,Haseeb Malik ðŸ¤—,UCOTZbz1Hw7ohL5Wkk05x_oQ,6541,135,0,00:17,1650,2024-03-17 10:58:52
10188,Travel & Adventure,UCdsJ15JOpVYne4qYxQe7UfQ,ACCIDENT on ganga river mirzapur // #trending ...,Atharva Live7,UCdsJ15JOpVYne4qYxQe7UfQ,473,14,0,00:07,411,2024-03-16 05:13:35

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10139 entries, 0 to 10188
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Category                    10139 non-null  object
 1   Video ID                    10139 non-null  object
 2   Title                       10139 non-null  object
 3   Channel                     10139 non-null  object
 4   Channel ID                  10139 non-null  object
 5   Views                       10139 non-null  int64
 6   Likes                       10139 non-null  int64
 7   Comments                    10139 non-null  int64
 8   Duration (Minutes:Seconds)  10139 non-null  object
 9   Subscriber Count            10139 non-null  int64
 10  Published_At                10139 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(6)
memory usage: 950.5+ KB

In [29]:
df.duplicated().sum()

0

In [30]:
df.drop_duplicates(inplace=True)

C:\Users\shaha\AppData\Local\Temp\ipykernel_19268\3006716147.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(inplace=True)

In [31]:
df.duplicated().sum()

0

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9228 entries, 0 to 10188
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Category                    9228 non-null   object
 1   Video ID                    9228 non-null   object
 2   Title                       9228 non-null   object
 3   Channel                     9228 non-null   object
 4   Channel ID                  9228 non-null   object
 5   Views                       9228 non-null   int64
 6   Likes                       9228 non-null   int64
 7   Comments                    9228 non-null   int64
 8   Duration (Minutes:Seconds)  9228 non-null   object
 9   Subscriber Count            9228 non-null   int64
 10  Published_At                9228 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(6)
memory usage: 865.1+ KB

In [33]:
df.shape

(9228, 11)

In [35]:
unique_category = df["Category"].unique()
unique_category

array(['Arts & Culture', 'Automative & Vechiles', 'Business & Finance',
       'Cartoons', 'Comedy', 'Current Events', 'Documentries',
       'Education', 'Environment & Sustainability', 'Food & Cooking',
       'Gaming', 'Health & Wellness', 'Home & Garden',
       'Informative Content', 'Lifestyle', 'Motivation',
       'Science and Discovery', 'Sports & Fitness', 'Travel & Adventure'],
      dtype=object)

In [36]:
df["Category"].value_counts()

Category
Current Events                  581
Documentries                    578
Business & Finance              563
Cartoons                        554
Science and Discovery           553
Automative & Vechiles           552
Food & Cooking                  550
Motivation                      542
Travel & Adventure              542
Sports & Fitness                539
Comedy                          538
Arts & Culture                  535
Health & Wellness               531
Informative Content             531
Gaming                          529
Home & Garden                   507
Education                       269
Environment & Sustainability    140
Lifestyle                        94
Name: count, dtype: int64

In [38]:
df.head(10)

,Category,Video ID,Title,Channel,Channel ID,Views,Likes,Comments,Duration (Minutes:Seconds),Subscriber Count,Published_At
0,Arts & Culture,6VlO0yJuj_8,Art & Culture Top 50 MCQs June 2023 Updated | ...,SSC Adda247,UCAyYBPzFioHUxvVZEn4rMJA,333581,19539,686,13:46,8000000,2023-06-13 14:20:14
1,Arts & Culture,hQ1aYndYgJ4,"ART & CULTURE DEPARTMENT ZAIPAWL VOL-1, disc 3",A&C Mizoram,UCydP2aV8KErUJI2QoO5Bjcw,603993,5100,433,56:46:00,27900,2020-12-01 07:29:44
2,Arts & Culture,hyRpCa9Qv48,Understanding the Value of Arts and Culture | ...,ahrcpress,UC4oFqK01f4STG5UJ72JAbdw,46954,352,6,02:58,2880,2016-04-20 09:35:15
3,Arts & Culture,nLU2f3pfCs8,Delhi Police 2023 Exam | à¤•à¤²à¤¾ à¤à¤µà¤‚ à...,Rojgar with Ankit,UC5H9MzrMkJ5iuN11vV2PLhA,1659779,86921,1718,155:40:00,11800000,2023-11-07 16:28:07
4,Arts & Culture,r3bLtn8DLYo,EDU in 90: Google Arts & Culture,Google for Education,UCt84aUC9OG6di8kSdKzEHTQ,14615,136,3,02:45,466000,2018-08-22 22:30:01
5,Arts & Culture,ES18t7Kwmn8,Art & Culture Current Affairs 2023 | Jan 2023 ...,Current Affairs Updated,UCI3bSml8bhxAsNHh-eQqJEQ,85852,5506,227,24:28:00,693000,2023-09-29 03:30:08
6,Arts & Culture,JGCeZKhmQdQ,Art & Culture (à¤•à¤²à¤¾ à¤”à¤° à¤¸à¤‚à¤¸à¥à¤...,Utkarsh Classes,UCLuBF4Xr1-BIpcpFFm7zp7w,1777958,99743,1493,91:01:00,12700000,2023-04-10 17:18:25
7,Arts & Culture,EH9teyWO_sw,Get INSPIRED by NATURAL HISTORY | Google Arts ...,Google Arts & Culture,UCGn7dlcAmH44GqycKa_3ssA,25758,138,7,01:12,269000,2016-09-13 04:25:28
8,Arts & Culture,fqXy2Q8mRQg,Meet Google Arts & Culture | ðŸ‘‹ HELLO! | Goo...,Google Arts & Culture,UCGn7dlcAmH44GqycKa_3ssA,32094,272,7,01:41,269000,2018-10-11 22:00:09
9,Arts & Culture,3EHVoVCDRjw,Celebrate Love with Google Arts & Culture,Google,UCK8sQmJBp8GCxrOtXWBpyEA,277086,1725,109,01:08,11700000,2017-02-13 22:33:38

In [39]:
df['Duration (hh:mm:ss)'] = df['Duration (Minutes:Seconds)'].apply(lambda x:f"00:{x}")

C:\Users\shaha\AppData\Local\Temp\ipykernel_19268\3723778527.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Duration (hh:mm:ss)'] = df['Duration (Minutes:Seconds)'].apply(lambda x:f"00:{x}")

In [40]:
split_duration = df['Duration (Minutes:Seconds)'].str.split(':',expand=True)

In [41]:
df['Duration'] = pd.to_timedelta(split_duration[0].astype(int), unit='h') + pd.to_timedelta(split_duration[1].astype(int),unit='m')

C:\Users\shaha\AppData\Local\Temp\ipykernel_19268\2940629603.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Duration'] = pd.to_timedelta(split_duration[0].astype(int), unit='h') + pd.to_timedelta(split_duration[1].astype(int),unit='m')

In [44]:
Duration_drop_column = ["Duration (Minutes:Seconds)","Duration (hh:mm:ss)"]
df.drop(columns=Duration_drop_column,inplace=True)

C:\Users\shaha\AppData\Local\Temp\ipykernel_19268\820006082.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=Duration_drop_column,inplace=True)

In [45]:
df

,Category,Video ID,Title,Channel,Channel ID,Views,Likes,Comments,Subscriber Count,Published_At,Duration
0,Arts & Culture,6VlO0yJuj_8,Art & Culture Top 50 MCQs June 2023 Updated | ...,SSC Adda247,UCAyYBPzFioHUxvVZEn4rMJA,333581,19539,686,8000000,2023-06-13 14:20:14,0 days 13:46:00
1,Arts & Culture,hQ1aYndYgJ4,"ART & CULTURE DEPARTMENT ZAIPAWL VOL-1, disc 3",A&C Mizoram,UCydP2aV8KErUJI2QoO5Bjcw,603993,5100,433,27900,2020-12-01 07:29:44,2 days 08:46:00
2,Arts & Culture,hyRpCa9Qv48,Understanding the Value of Arts and Culture | ...,ahrcpress,UC4oFqK01f4STG5UJ72JAbdw,46954,352,6,2880,2016-04-20 09:35:15,0 days 02:58:00
3,Arts & Culture,nLU2f3pfCs8,Delhi Police 2023 Exam | à¤•à¤²à¤¾ à¤à¤µà¤‚ à...,Rojgar with Ankit,UC5H9MzrMkJ5iuN11vV2PLhA,1659779,86921,1718,11800000,2023-11-07 16:28:07,6 days 11:40:00
4,Arts & Culture,r3bLtn8DLYo,EDU in 90: Google Arts & Culture,Google for Education,UCt84aUC9OG6di8kSdKzEHTQ,14615,136,3,466000,2018-08-22 22:30:01,0 days 02:45:00
...,...,...,...,...,...,...,...,...,...,...,...
10184,Travel & Adventure,UCkOEEcyoaUu-6nM-fmQ9jMg,Always choosing this â˜€ï¸ðŸï¸ #Travel #Ad...,Steven Daliva,UCkOEEcyoaUu-6nM-fmQ9jMg,2075,78,2,74,2024-03-18 10:35:49,0 days 00:17:00
10185,Travel & Adventure,UC0VS45BTHzmoIqR9Ovxhlwg,Adventures fill your soul ðŸª‚ðŸ’ªâ¤ï¸ #trav...,Nature savvy,UC0VS45BTHzmoIqR9Ovxhlwg,4,2,0,4,2024-03-16 16:57:12,0 days 00:12:00
10186,Travel & Adventure,UCBz6JnEN2jKGWLK1b86jUKg,ROG || HYDERABAD || 650 TWINS || VIZAG_COLONY ...,The_Interceptor_guy,UCBz6JnEN2jKGWLK1b86jUKg,415,17,2,27,2024-03-18 15:12:40,0 days 00:20:00
10187,Travel & Adventure,UCOTZbz1Hw7ohL5Wkk05x_oQ,#travel #adventure #nature #zipline #mountains...,Haseeb Malik ðŸ¤—,UCOTZbz1Hw7ohL5Wkk05x_oQ,6541,135,0,1650,2024-03-17 10:58:52,0 days 00:17:00
10188,Travel & Adventure,UCdsJ15JOpVYne4qYxQe7UfQ,ACCIDENT on ganga river mirzapur // #trending ...,Atharva Live7,UCdsJ15JOpVYne4qYxQe7UfQ,473,14,0,411,2024-03-16 05:13:35,0 days 00:07:00

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9228 entries, 0 to 10188
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Category          9228 non-null   object
 1   Video ID          9228 non-null   object
 2   Title             9228 non-null   object
 3   Channel           9228 non-null   object
 4   Channel ID        9228 non-null   object
 5   Views             9228 non-null   int64
 6   Likes             9228 non-null   int64
 7   Comments          9228 non-null   int64
 8   Subscriber Count  9228 non-null   int64
 9   Published_At      9228 non-null   datetime64[ns]
 10  Duration          9228 non-null   timedelta64[ns]
dtypes: datetime64[ns](1), int64(4), object(5), timedelta64[ns](1)
memory usage: 865.1+ KB

In [47]:
df.to_excel("YouTube_Data_Final Project.xlsx")